<a href="https://colab.research.google.com/github/brodyandre/dados-sus/blob/main/desafio_dados_sus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Esse notebook tem como finalidade, executarmos algumas operações de manipulação dos dados de um arquivo csv do SUS (Sistema único de Saúde). Como por exemplo: import de bibliotecas, montagem do drive para as manipulações, leitura de arquivos csv, tipos de enconoding cabeçalhos e rodapé.

Importando as Bibliotecas necessárias

In [ ]:
from google.colab import drive

import pandas as pd

Montando o Google Drive

In [ ]:
# Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

Fazendo a leitura do arquivo csv e verificando o tipo de separador: (nesse caso sep = ' ; ')

In [ ]:
# Tentando ler o arquivo CSV com um delimitador diferente e ignorando linhas problemáticas
df = pd.read_csv('/dados_sus.csv', encoding='ISO-8859-1', sep=';', on_bad_lines='skip')

In [ ]:
import csv
# Abrindo o arquivo CSV
with open('/dados_sus.csv', 'r', encoding='ISO-8859-1') as f:
    # Lendo uma amostra do arquivo
    sample = f.read(1024)
    # Usando o Sniffer para detectar o delimitador
    dialect = csv.Sniffer().sniff(sample)
    print(f"O separador detectado é: '{dialect.delimiter}'")

O separador detectado é: ';'

Desconsiderando as 3 primeiras linhas do Dataset

In [ ]:
# Lendo o arquivo CSV com o delimitador detectado e ajustando o cabeçalho
df = pd.read_csv('/dados_sus.csv', encoding='ISO-8859-1', sep=dialect.delimiter, header=3)

# Exibindo as primeiras linhas do DataFrame
print(df.head())

  Unidade da Federação     2008/Jan     2008/Fev     2008/Mar     2008/Abr  \
0             Rondônia   1388528,39   2931283,42   1541682,52   1525314,96
1                 Acre    902416,00   1497206,26   1794028,48   1730469,42
2             Amazonas   4735529,42   7118990,57   8196635,49   8259378,42
3              Roraima    657889,53    777939,31    718688,03    839994,39
4                 Pará  18864744,11  19553758,20  21937342,70  20842829,69

      2008/Mai     2008/Jun     2008/Jul     2008/Ago     2008/Set  ...  \
0   1645953,84   1406150,68   3065279,01   3231494,61   3117178,63  ...
1   1819443,92   1828496,00   2511754,59   2089107,14   2275708,53  ...
2   7831399,90   8477273,62   9368858,72   9352532,70   9363099,35  ...
3    862347,96    832440,66    996693,09    894271,18    910424,17  ...
4  23249952,88  23240687,56  24002223,56  23341218,03  25172261,32  ...

      2020/Jul     2020/Ago     2020/Set     2020/Out     2020/Nov  \
0  11824687,13  11733307,76  10201985,14   7955139,45   9357946,29
1   3915193,20   3640142,82   3391242,21   4044321,44   3276590,10
2  19769460,14  18059931,43  17841015,63  16408315,10  19895617,91
3   3015488,30   2826486,18   2928043,91   3090313,73   3621031,05
4  40804126,43  44385715,88  36820249,47  36965931,34  39004315,80

      2020/Dez     2021/Jan     2021/Fev     2021/Mar          Total
0   8880836,55   9266014,59   7730597,04  11023309,47   996411254,68
1   3696997,31   3715723,12   3538427,92   4077045,92   450048530,47
2  17765167,69  21430289,17  25917134,55  22032176,22  1917247936,05
3   3454460,94   3266928,47   3519773,73   3985530,08   328876965,09
4  38015145,79  38354682,46  37688314,23  33276392,89  4705309002,29

[5 rows x 161 columns]

Desconsiderando as 9 últimas linhas do dataset

In [ ]:
df = pd.read_csv('/dados_sus.csv',
                 encoding='ISO-8859-1',
                 sep=';',                    # use o separador detectado ou correto
                 header=3,                   # ajuste conforme o seu caso
                 skipfooter=9,               # ignora as 9 últimas linhas
                 engine='python')            # necessário para usar skipfooter
print(df.tail())  # verificar as últimas linhas para confirmar que as 9 últimas foram excluídas

   Unidade da Federação      2008/Jan      2008/Fev      2008/Mar  \
23   Mato Grosso do Sul    5377392,11    7002472,61    8423933,19
24          Mato Grosso    4795299,01    8684882,23    7886243,14
25                Goiás   15310637,29   22258668,68   21442515,75
26     Distrito Federal    4745919,19    7632480,67    9647203,26
27                Total  408424859,23  613174269,21  664043058,38

        2008/Abr      2008/Mai      2008/Jun      2008/Jul      2008/Ago  \
23    8797487,68    9770421,80   10905392,18   10249299,82    9671553,45
24    8794109,79    9231645,40   10221763,77    9163314,28    9243148,81
25   20921212,45   21615970,67   18270043,87   20540517,13   20650730,67
26   11098732,99   12891719,72   12850125,67   12565646,74   13710857,89
27  686662861,42  715803639,49  752181563,64  764990284,76  750608648,28

        2008/Set  ...       2020/Jul       2020/Ago       2020/Set  \
23   10218511,05  ...    18858844,44    19877080,68    19247894,51
24    9052354,89  ...    16834650,98    19704915,36    20746227,60
25   20868443,56  ...    40606222,82    46229357,10    44889588,33
26   13165106,20  ...    25269773,34    26526196,39    20056592,11
27  752962642,15  ...  1484010417,62  1514160823,72  1477904466,14

         2020/Out       2020/Nov       2020/Dez       2021/Jan       2021/Fev  \
23    19497210,85    22023126,25    19629591,55    21693311,15    24337295,63
24    22727405,20    20506039,58    19583803,46    19120141,68    18349376,92
25    45529496,23    43037600,45    44147353,21    46127763,88    42742773,93
26    20856249,30    20459325,27    22991567,76    23527050,29    22766952,62
27  1489983146,21  1464196395,75  1441199605,05  1513991196,49  1500612299,36

         2021/Mar            Total
23    25168195,34    2324525096,33
24    19611032,61    2180119781,15
25    45592686,49    4973573613,47
26    31831917,45    2592422853,56
27  1687562138,38  172481760138,88

[5 rows x 161 columns]

Salvando arquivo como um DataFrame

In [ ]:
 #Salvando o DataFrame como um novo arquivo CSV
df.to_csv('/content/drive/My Drive/dataframe_dados_sus.csv', index=False)  # Ajuste o caminho conforme necessário
print(df.head())

  Unidade da Federação     2008/Jan     2008/Fev     2008/Mar     2008/Abr  \
0             Rondônia   1388528,39   2931283,42   1541682,52   1525314,96
1                 Acre    902416,00   1497206,26   1794028,48   1730469,42
2             Amazonas   4735529,42   7118990,57   8196635,49   8259378,42
3              Roraima    657889,53    777939,31    718688,03    839994,39
4                 Pará  18864744,11  19553758,20  21937342,70  20842829,69

      2008/Mai     2008/Jun     2008/Jul     2008/Ago     2008/Set  ...  \
0   1645953,84   1406150,68   3065279,01   3231494,61   3117178,63  ...
1   1819443,92   1828496,00   2511754,59   2089107,14   2275708,53  ...
2   7831399,90   8477273,62   9368858,72   9352532,70   9363099,35  ...
3    862347,96    832440,66    996693,09    894271,18    910424,17  ...
4  23249952,88  23240687,56  24002223,56  23341218,03  25172261,32  ...

      2020/Jul     2020/Ago     2020/Set     2020/Out     2020/Nov  \
0  11824687,13  11733307,76  10201985,14   7955139,45   9357946,29
1   3915193,20   3640142,82   3391242,21   4044321,44   3276590,10
2  19769460,14  18059931,43  17841015,63  16408315,10  19895617,91
3   3015488,30   2826486,18   2928043,91   3090313,73   3621031,05
4  40804126,43  44385715,88  36820249,47  36965931,34  39004315,80

      2020/Dez     2021/Jan     2021/Fev     2021/Mar          Total
0   8880836,55   9266014,59   7730597,04  11023309,47   996411254,68
1   3696997,31   3715723,12   3538427,92   4077045,92   450048530,47
2  17765167,69  21430289,17  25917134,55  22032176,22  1917247936,05
3   3454460,94   3266928,47   3519773,73   3985530,08   328876965,09
4  38015145,79  38354682,46  37688314,23  33276392,89  4705309002,29

[5 rows x 161 columns]

Exibindo as 5 primeiras linhas do arquivo ja convertido em dataframe

In [ ]:
display(df.head())

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2020/Jul,2020/Ago,2020/Set,2020/Out,2020/Nov,2020/Dez,2021/Jan,2021/Fev,2021/Mar,Total
0,Rondônia,"1388528,39","2931283,42","1541682,52","1525314,96","1645953,84","1406150,68","3065279,01","3231494,61","3117178,63",...,"11824687,13","11733307,76","10201985,14","7955139,45","9357946,29","8880836,55","9266014,59","7730597,04","11023309,47","996411254,68"
1,Acre,"902416,00","1497206,26","1794028,48","1730469,42","1819443,92","1828496,00","2511754,59","2089107,14","2275708,53",...,"3915193,20","3640142,82","3391242,21","4044321,44","3276590,10","3696997,31","3715723,12","3538427,92","4077045,92","450048530,47"
2,Amazonas,"4735529,42","7118990,57","8196635,49","8259378,42","7831399,90","8477273,62","9368858,72","9352532,70","9363099,35",...,"19769460,14","18059931,43","17841015,63","16408315,10","19895617,91","17765167,69","21430289,17","25917134,55","22032176,22","1917247936,05"
3,Roraima,"657889,53","777939,31","718688,03","839994,39","862347,96","832440,66","996693,09","894271,18","910424,17",...,"3015488,30","2826486,18","2928043,91","3090313,73","3621031,05","3454460,94","3266928,47","3519773,73","3985530,08","328876965,09"
4,Pará,"18864744,11","19553758,20","21937342,70","20842829,69","23249952,88","23240687,56","24002223,56","23341218,03","25172261,32",...,"40804126,43","44385715,88","36820249,47","36965931,34","39004315,80","38015145,79","38354682,46","37688314,23","33276392,89","4705309002,29"